/* Styles

Mobile width - 375px
Desktop width - 1440px

Primary colors
Pale blue: hsl(225, 100%, 94%)
Bright blue: hsl(245, 75%, 52%)


Neutral
Very pale blue: hsl(225, 100%, 98%)
Desaturated blue: hsl(224, 23%, 55%)
Dark blue: hsl(223, 47%, 23%) for the button (?) and the order banner background

Font size - 16px (paragraph), Red Hat Display weights 500, 700, 900
*/



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    color: black;
}